<ion-header>
  <ion-toolbar>
    <ion-title>addRooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Add new room to collection</h1>

<ion-item>
    <ion-label position="floating">Enter room name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Enter room type</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Enter room price</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- in this room -->
      <ion-list>
          <ion-item>
              <ion-label position="floating">Enter number of beds</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Enter number of rooms</ion-label>
                <ion-input></ion-input>
              </ion-item>
      </ion-list>

      <!-- groups -->
      <!-- Checkboxes in a List -->
      <ion-list>
        <h1>highlights</h1>
          <ion-item>
            <ion-label>46" television</ion-label>
            <ion-checkbox ></ion-checkbox>
          </ion-item>
        
          <ion-item>
            <ion-label>Spa-inspired bathroom</ion-label>
            <ion-checkbox  ></ion-checkbox>
          </ion-item>
        
          <ion-item>
            <ion-label>Serta pillow top bed</ion-label>
            <ion-checkbox ></ion-checkbox>
          </ion-item>

          <ion-item>
              <ion-label>Minibar</ion-label>
              <ion-checkbox ></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-label>Walk-in shower</ion-label>
                <ion-checkbox ></ion-checkbox>
              </ion-item>

              <ion-item>
                  <ion-label>SIn-room Wi-Fi</ion-label>
                  <ion-checkbox ></ion-checkbox>
                </ion-item>
        
        </ion-list>

        <ion-list>
            <h1>Amenities</h1>
            <ion-item>
              <ion-label>Feather and down-free bedding</ion-label>
              <ion-checkbox ></ion-checkbox>
            </ion-item>
          
            <ion-item>
              <ion-label>Iron and full-sized ironing board</ion-label>
              <ion-checkbox  ></ion-checkbox>
            </ion-item>
          
            <ion-item>
              <ion-label>Serta pillow top bed</ion-label>
              <ion-checkbox ></ion-checkbox>
            </ion-item>
        </ion-list>
  <ion-button color="warning">Add room</ion-button>
</ion-content>
