<ion-header>
  <ion-toolbar>
    <ion-title>createprofile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Create Profile</h1>

<ion-item>
  <ion-label position="floating">firstname</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Lastname</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Gender</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Position</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">upload image</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-button color="warning">Create Profile</ion-button>



</ion-content>
