<ion-content>
  <div class="container">

    <div class="topnav">
      <div id="one"><h1>The Grand Hotel</h1></div>
      <div id="two"></div>
    </div>

    <div class="main">
    <!-- side menu -->
    <div class="sidemenu">
      <div class="three"  routerLink="/home" routerDirection="forward">
        <div class="logo"><ion-icon name="home" ></ion-icon></div>
        <div class="name"><h4>Dashboard</h4></div>
      </div>
      <div class="three"  routerLink="/view-rooms" routerDirection="forward">
        <div class="logo"><ion-icon name="home" ></ion-icon></div>
        <div class="name"><h4>View Rooms</h4></div>
      </div>

      <div class="three"  routerLink="/add-rooms" routerDirection="forward">
        <div class="logo"><ion-icon name="home" ></ion-icon></div>
        <div class="name"><h4>Add Rooms</h4></div>
      </div>

      <div class="three"  routerLink="/view-users" routerDirection="forward">
        <div class="logo"><ion-icon name="home" ></ion-icon></div>
        <div class="name"><h4>Users</h4></div>
      </div>

      <div class="three"  routerLink="/view-users-info" routerDirection="forward">
        <div class="logo"><ion-icon name="home" ></ion-icon></div>
        <div class="name"><h4>Team</h4></div>
      </div>

      <div class="three"  routerLink="/registermodal" routerDirection="forward">
          <div class="logo"><ion-icon name="home" ></ion-icon></div>
          <div class="name"><h4>Signout</h4></div>
        </div>
    </div>

    <!-- list -->
    <div class="left">
    <div class="list">
      <div class="info"><img src="../../assets/idris.jpg" width="100%" height="100%" ></div>
      <div class="info2">
        <h3 >Idris Elba</h3>
        <p class="para">Hollywood</p>
        <p  class="para">12 bookings to date</p>

      </div>
    </div>

    <!-- display -->
    <div class="display">
      <div class="image">
          <img src="../../assets/idris.jpg" width="100%" height="100%" >

      </div>
      <div class="info">
        <h3>Idris Elba</h3>
        <P>gender</P>
        <p>Address :   </p>
           <ul>
          <li>25th Avenue</li>
          <li>Laudium</li>
          <li>Hollywood</li>
          <li>19835</li>
        </ul>
   
        
        
      </div>
      <div class="bookings">
        <div class="theader">
          <div ><h5>Checkin</h5></div>
          <div><h5>Checkout</h5></div>
          <div><h5>kids</h5></div>
          <div><h5>Adults</h5></div>
          <div><h5>Meals</h5></div>
          <div><h5>Total</h5></div>
        </div>
        <div class="theader">
            <div ><p>11/02/2019</p></div>
            <div><p>15/02/2019</p></div>
            <div><p>4</p></div>
            <div><p>6</p></div>
            <div><p>hALFBOARD</p></div>
            <div><p>17200</p></div>
        </div>
      </div>
    </div>
</div>
</div>
 </div>
</ion-content>
